
<div class="c-navbar c-navbar-1">
    <a class="c-nav" routerLink="./viewOrdersStatus" aria-label="צפייה בסטטוס הזמנות">צפייה בסטטוס הזמנות</a> 
    <mat-divider [vertical]="true"></mat-divider>
    <a class="c-nav" routerLink="./managerProducts" aria-label="ניהול מוצרים"  >ניהול מוצרים</a>
    <mat-divider [vertical]="true"></mat-divider>
    <a class="c-nav"  routerLink="./managerCategory"  aria-label="ניהול קטגוריות">ניהול קטגוריות</a>
    <mat-divider [vertical]="true"></mat-divider>
    <a class="c-nav" routerLink="./managerbranchmanager" aria-label="ניהול מנהלי סניף "> ניהול מנהלי סניף</a>
    <mat-divider [vertical]="true"></mat-divider>
    <a class="c-nav" routerLink="./managebranches" aria-label="ניהול סניפים "> ניהול סניפים</a>
    <mat-divider [vertical]="true"></mat-divider>
</div>
<router-outlet></router-outlet>

