<h2 class="category-title">אודות</h2>
<label class="desc">
רשת טויס וואי  הינה החברה המובילה בישראל לצעצועים, משחקים ולמוצרי פנאי המיועדים לילדים ולתינוקות. ניתן לאסוף את הצעצועים שהזמנתם  ביותר מ-20 סניפים ברחבי הארץ.

בישראל הרשת קיימת משנת 1995 ומונה 21 סניפים בפריסה ארצית . בנוסף, הרשת מפעילה אתר מכירות באינטרנט  .

טויס וואי שמה דגש על בטיחות, איכות ושירות ומציעה צעצועים, משחקים, מתנות, אופניים, מתקני חצר ובריכות  לילדים בכל הגילאים.

מגוון המוצרים הענק כולל את מותגי הצעצועים והמשחקים המובילים בעולם, להיטים שילדים אוהבים וכל מה שחדש וחם בתחום !

מותגים מובילים: לגו, פליימוביל, פישר פרייס, LOL, יו אנד מי, פאסט ליין, ברואין, טוי פלנט ועוד....

טויס וואי ישראל פועלת למען הקהילה במהלך כל ימות השנה ונרתמת למען עמותות שונות.</label>
