
.subtitle {
    display: flex;
    align-items: center;
    text-align: center;
    width: fit-content;
    margin-inline: auto;
    font-weight: 500;
}

.subtitle mat-icon {
    margin-left: .3rem;
}

.fields {
    display: grid;
    text-align: right;
    grid-row-gap: 1.2rem;
}

.field {
    display: grid;
    grid-row-gap: 0.5rem;
}

.fields input {
    border-radius: 4rem;
    outline: none;
    border: solid 1px #39557c;
    line-height: 26px;
    font-size: 18px;
    font-family: assistant;
    padding: 0.5rem 1rem;
    color: #39557c;
}
.container {
    direction: rtl;
    width: fit-content;
    margin: 4rem auto;
    min-width: 21rem;
    font-family: assistant;
    color: #39557c;
    text-align: center;
}
.login-button {
    background: #ffd200;
    border: none;
    color: #032556;
    cursor: pointer;
    font-family: assistant;
    font-weight: 500;
    margin: 0;
    padding: 10px 82px 16px;
    font-size: 18px;
    box-shadow: inset 0 0 0 3px #fff, inset 0 -13px 0 0 #eec506, 2px 2px 4px 0 #dee5f0;
    border-radius: 26px;
    text-align: center;
}
.comment {
    color: gray;
}

.shopping-cart {
    direction: rtl;
    font-family: assistant;
    color: #39557c;
    padding-inline: 4rem;
    display: grid;
    grid-column-gap: 3rem;
}

mat-card:first-of-type {
    grid-area: 2 / 1 / 3 / 9;
}

mat-card:last-of-type {
    grid-area: 2 / 9 / 3 / 12;
    padding-bottom: 1rem;
}

mat-card {
    border-radius: 16px;
    height: fit-content;
    box-shadow: 6px 7px 22px 0 rgba(3,32,74,.1);
}

mat-card-header {
    background: #ffd200;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    padding-top: 0;
    color: #39557c;
}

mat-card-header h3 {
    margin: 0.7rem 1rem;
}

mat-card-content {
    padding-inline: 0;
}

table {
    width: 100%;
}

table.cart {
    color: #39557c;
    border-spacing: 2rem 1rem;
}

.cart tr {
    height: 7rem;
}

.cart .product-details {
    width: 21.5rem;
    display: flex;
    justify-content: space-around;
}

.cart .product-details img {
    height: 6rem;
}

.cart count-selection {
    display: inline-block;
    margin-right: 1rem;
}

.cart .price-td label {
    color: #004ebc;
    font-size: 21px;
    font-weight: 600;
}

.summary tr {
    display: flex;
    justify-content: space-between;
    padding-inline: 2rem;
}

.summary-count {
    margin-inline: auto 1.5rem;
}

.summary mat-card-content {
    display: grid;
}

.for-payment-button {
    background: #ffd200;
    border: none;
    color: #032556;
    cursor: pointer;
    font-family: assistant;
    font-weight: 500;
    margin: 0;
    padding: 10px 82px 16px;
    font-size: 18px;
    box-shadow: inset 0 0 0 3px #fff, inset 0 -13px 0 0 #eec506, 2px 2px 4px 0 #dee5f0;
    border-radius: 26px;
    text-align: center;
    margin: 1rem auto 0;
}