
.c-container {
    direction: rtl;
    width: fit-content;
    margin: 4rem auto;
    min-width: 21rem;
    font-family: assistant;
    color: #39557c;
    text-align: center;
    padding-bottom: 4rem;
}

.wrap-navs {
    border: 4px solid #e5edf7;
    border-radius: 5rem;
    background: #e5edf7;
    width: fit-content;
    margin: 0 auto 2rem;
}

.wrap-navs ul.c-navs {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wrap-navs ul li {
    margin: 0;
    text-align: center;
    width: 10rem;
}

.wrap-navs ul li a:hover,
.wrap-navs ul li a.active {
    background: #004ebc;
    color: #fff;
}

.wrap-navs ul li a {
    color: #39557c;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    display: flex;
    border-radius: 5rem;
    padding: 16px 0;
    text-decoration: none;
    text-align: center;
    align-items: center;
}

.wrap-navs ul li a mat-icon {
    margin-inline: 0.3rem auto;
}

.wrap-navs ul li a label {
    margin-left: auto;
}

.subtitle {
    display: flex;
    align-items: center;
    text-align: center;
    width: fit-content;
    margin-inline: auto;
    font-weight: 500;
}

.subtitle mat-icon {
    margin-left: .3rem;
}

.fields {
    display: grid;
    text-align: right;
    grid-row-gap: 1.2rem;
}

.field {
    display: grid;
    grid-row-gap: 0.5rem;
}

.fields input {
    border-radius: 4rem;
    outline: none;
    border: solid 1px #39557c;
    line-height: 26px;
    font-size: 18px;
    font-family: assistant;
    padding: 0.5rem 1rem;
    color: #39557c;
}

.address {
    display: flex;
}

.number-field input {
    width: 5rem;
    margin-right: 1rem;
}

.register-button {
    background: #ffd200;
    border: none;
    color: #032556;
    cursor: pointer;
    font-family: assistant;
    font-weight: 500;
    margin: 0;
    padding: 10px 82px 16px;
    font-size: 18px;
    box-shadow: inset 0 0 0 3px #fff, inset 0 -13px 0 0 #eec506, 2px 2px 4px 0 #dee5f0;
    border-radius: 26px;
    text-align: center;
}


.c-container {
    direction: rtl;
    width: fit-content;
    margin: 4rem auto;
    min-width: 21rem;
    font-family: assistant;
    color: #39557c;
    text-align: center;
    padding-bottom: 4rem;
}


.subtitle {
    display: flex;
    align-items: center;
    text-align: center;
    width: fit-content;
    margin-inline: auto;
    font-weight: 500;
}

.subtitle mat-icon {
    margin-left: .3rem;
}

.fields {
    display: grid;
    text-align: right;
    grid-row-gap: 1.2rem;
}

.field {
    display: grid;
    grid-row-gap: 0.5rem;
}

.fields input {
    border-radius: 4rem;
    outline: none;
    border: solid 1px #39557c;
    line-height: 26px;
    font-size: 18px;
    font-family: assistant;
    padding: 0.5rem 1rem;
    color: #39557c;
}
.container {
    direction: rtl;
    width: fit-content;
    margin: 4rem auto;
    min-width: 21rem;
    font-family: assistant;
    color: #39557c;
    text-align: center;
}
.login-button {
    background: #ffd200;
    border: none;
    color: #032556;
    cursor: pointer;
    font-family: assistant;
    font-weight: 500;
    margin: 45px;
    padding: 10px 82px 16px;
    font-size: 18px;
    box-shadow: inset 0 0 0 3px #fff, inset 0 -13px 0 0 #eec506, 2px 2px 4px 0 #dee5f0;
    border-radius: 26px;
    text-align: center;
}
.comment {
    color: gray;
}
.login-button2 {
    align-items: center;
    background: #ffd200;
    border: none;
    color: #032556;
    cursor: pointer;
    font-family: assistant;
    font-weight: 500;
    margin: 45px;
    padding: 10px 82px 16px;
    font-size: 18px;
    box-shadow: inset 0 0 0 3px #fff, inset 0 -13px 0 0 #eec506, 2px 2px 4px 0 #dee5f0;
    border-radius: 26px;
    text-align: center;
}