<form class="container" (ngSubmit)="sendPass($event)">

<h1>שחזור סיסמא</h1>
<h2 class="subtitle">
    <mat-icon>account_circle</mat-icon>
    <label>התחברות</label>
</h2>
<div class="fields">
    <div class="field">
        <b>הכנס את כתובת המייל שלך</b>
        <input type="search" placeholder="הכנס כתובת מייל" name="mail" required>
    </div>
    <button type="submit" class="login-button">שלח לי סיסמא למייל</button>
    <p *ngIf="valid">מייל לא תקין הכנס שוב</p>
    <a routerLink="/login" class="tablinks comment">התחברות</a>
</div>
</form>