<!-- <div class="container-div">
    <div class="swiper-div">
        <div class="swiper-container">
            <div class="swiper-wrapper">
           
                <div class="swiper-slide">
                    <div class="img" [style.backgroundImage]="'url('+slides[2].image+')'"></div>
                </div>
         
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</div>    -->
<div class="container-div">
    <div class="swiper-div">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="img" [style.backgroundImage]="'url('+slides[0].image+')'"></div>
                </div>
                <div class="swiper-slide">
                    <div class="img" [style.backgroundImage]="'url('+slides[1].image+')'"></div>
                </div>
                <div class="swiper-slide">
                    <div class="img" [style.backgroundImage]="'url('+slides[2].image+')'"></div>
                </div>
                <div class="swiper-slide">
                    <div class="img" [style.backgroundImage]="'url('+slides[3].image+')'"></div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</div> 
